<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Money counter</title>
    <link rel="stylesheet" type="text/css" href="styles/index.css">
    <link rel="stylesheet" type="text/css" href="styles/input.css">
    <link rel="stylesheet" type="text/css" href="styles/list.css">
    <link rel="stylesheet" type="text/css" href="styles/menu.css">
    <link rel="stylesheet" type="text/css" href="styles/statistic.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="app.js"></script>
    <script src="https://www.gstatic.com/charts/loader.js"></script>
</head>
<body ng-app="app" ng-controller="main">
<div class="head">
    <h1>Money counter</h1>
</div>
<div class="container">
    <div class="balance" ng-model="balance">
        Текущий баланс: {{balance | number:2}}
    </div>
    <div class="input">
        <select class="input_some input_category" id="category"
                ng-model="input.category">
            <option value="income" ng-selected="input.category == 'income'">Доходы</option>
            <option value="outcome" ng-selected="input.category == 'outcome'">Расходы</option>
        </select>
        <input class="input_some input_name" placeholder="Название" autofocus
               ng-model="input.name" ng-keypress="addListItem($event)">
        <input class="input_some input_sum" placeholder="Сумма"
               ng-model="input.sum" ng-keypress="addListItem($event)">
        <div class="input_error error_name" ng-if="emptyName">Введите название</div>
        <div class="input_error error_sum" ng-if="emptySum">Введите сумму</div>
        <div class="input_error wrong_sum" ng-if="wrongSum">Некорректная сумма</div>
    </div>
    <button class="input_some input_button" ng-click="addListItem($event)">Добавить</button>
    <div class="menu">
        <div class="menu_item"
             ng-repeat="item in menu"
             ng-bind="item.name"
             ng-class="{menu_item_selected: item === selectedMenuItem}"
             ng-click="selectMenuItem(item)"></div>
    </div>
    <div class="list">
        <div ng-if="getFilteredListItem().length === 0" class="list_empty">
            <div ng-if="!selectedMenuItem.category">
                Здесь появится информация, когда Вы начнете пользоваться приложением.
            </div>
            <div ng-if="selectedMenuItem.category === 'income'">
                Нет информации о доходах.
            </div>
            <div ng-if="selectedMenuItem.category === 'outcome'">
                Нет информации о расходах.
            </div>
        </div>
        <div class="list_item" ng-class="{
            list_red: item.category === 'outcome',
            list_green: item.category === 'income'
       }" ng-repeat="item in getFilteredListItem()">
            <div class="month_info" ng-if="$first || item.newMonth" ng-bind="monthName(item)"></div>
            <div class="item_time" ng-model="item.date">
                {{item.date.toTimeString() | limitTo:8}}
                <br>
                {{item.date | date:'dd.MM.yyyy'}}
            </div>
            <span class="list_item list_item_name" ng-bind="item.name"></span>
            <span class="list_item list_item_sum" ng-model="item.sum">{{item.sum | number:2}}</span>
            <div class="list_item list_item_delete" ng-click="deleteListItem($index)">✕</div>
        </div>
    </div>
    <div class="statistic" ng-if="selectedMenuItem.category === 'statistic'" ng-model="statistic">
        <div class="balance statistic_item">Общее количество доходов: {{statistic.income}}</div>
        <div class="balance statistic_item">Общее количество расходов: {{statistic.outcome}}</div>

    </div>
</div>
</body>
</html>