.list {
    margin-top: 10px;
    /*box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);*/
    background: white;
    font-size: 14px;
}

.list_item {
    padding: 5px;
    min-height: 14px;
    border-bottom: 1px solid rgba(175, 175, 175, 0.82);
    font-size: 14px;
    display: block;
}

.list_green {
    background: rgba(97, 223, 97, 0.32);
}

.list_red {
    background: rgba(223, 0, 40, 0.2);
}

.list_item_name {
    width: 71%;
    border: none;
    border-right: 1px solid rgba(175, 175, 175, 0.82);
    display: inline-block;
}

.list_item_sum {
    width: 17%;
    padding: 5px;
    display: inline-block;
    text-align: right;
    border: none;
}

.list_empty {
    color: #d1d1d1;
    background-color: #f2fffc;
    font-size: 14px;
    text-align: center;
}

.list_item_delete {
    font-size: 16px;
    border: none;
    padding: 5px;
    float: right;
    color: #333333;
    visibility: hidden;
    background-color: inherit;
    cursor: pointer;
}

.list_item:hover .list_item_delete {
    visibility: visible;
}

.edit_item {
    font-size: 16px;
    border: none;
    padding: 0;

    background-color: transparent;
}

.item_time {
    visibility: hidden;
    position: absolute;
    font-size: 12px;
    width: 100px;
    margin-left: -110px;
    text-align: right;
    color: #d1d1d1;
}

.list_item:hover .item_time {
    visibility: visible;
}

.month_info {
    background-color: #f2fffc;
    width: 430px;
    padding: 5px;
    color: #d1d1d1;
    font-size: 12px;
    position: relative;
    bottom:5px;
    right: 5px;
    text-align: center;
}